# See http://help.ubuntu.com/community/UpgradeNotes for how to upgrade to newer versions of the distribution.

{% for category, type in apt_distribution_repositories %}
{% if category == 'security' %}
{% set url='security.ubuntu.com/ubuntu' %}
{% elif type == 'partner' %}
{% set url='archive.canonical.com' %}
{% else %}
{% set url='archive.ubuntu.com/ubuntu' %}
{% endif %}
deb     http://{{ url }} {{ ansible_distribution_release }}{{ apt_distribution_categories_suffix[category] }} {{ type }}
deb-src http://{{ url }} {{ ansible_distribution_release }}{{ apt_distribution_categories_suffix[category] }} {{ type }}
{% endfor %}
