{% include 'templates/site.reject-unkown.conf.j2' %}

{% if item.value.with_ssl|bool and item.value.redirect_ssl|bool %}
server {
    listen {{ nginx_port|int }};
    server_name {{ item.value.domains|join(' ') }};
    rewrite ^ https://$http_host$request_uri? permanent;
}
{% endif %}

server {
    {% if item.value.with_ssl|bool %}
    listen {{ nginx_port_ssl|int }} {{ item.value.with_http2|bool|ternary('ssl http2', '') }};
    {% include 'templates/site.ssl.conf.j2' %}
    {% else %}
    listen {{ nginx_port|int }};
    {% endif %}

    {% include 'templates/site.real_ip.conf.j2' %}

    {% if not item.value.with_ssl|bool and item.value.redirect_ssl|bool %}
    if ($http_x_forwarded_proto != 'https') {
        rewrite ^ https://$host$request_uri? permanent;
    }
    {% endif %}

    server_name {{ item.value.domains|join(' ') }};

    gzip            on;
    gzip_min_length 2000;
    gzip_proxied    any;
    gzip_types      text/html application/json;

    proxy_read_timeout   60s;
    client_max_body_size 64M;

    access_log /var/log/nginx/{{ item.value.name }}/access.log;
    error_log  /var/log/nginx/{{ item.value.name }}/error.log warn;

    # set to where your devpi-server state is on the filesystem
    root {{ devpi_server_app_directory }}/data;

    {% include 'templates/site.certbot-challenge.conf.j2' %}

    # try serving static files directly
    location ~ /\+f/ {
        # workaround to pass non-GET/HEAD requests through to the named location below
        error_page 418 = @proxy_to_app;
        if ($request_method !~ (GET)|(HEAD)) {
            return 418;
        }

        expires max;
        try_files /+files$uri @proxy_to_app;
    }

    # try serving docs directly
    location ~ /\+doc/ {
        try_files $uri @proxy_to_app;
    }

    location / {
        # workaround to pass all requests to / through to the named location below
        error_page 418 = @proxy_to_app;
        return 418;
    }

    location @proxy_to_app {
        proxy_pass http://localhost:{{ devpi_server_port }};
        proxy_set_header X-outside-url $scheme://$host:$server_port;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
