#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See journald.conf(5) for details.

[Journal]
Storage={{ systemd_journal_daemon_storages[systemd_journal_daemon_storage] }}
Compress={{ systemd_journal_daemon_compress|bool|ternary('yes', 'no') }}
Seal={{ systemd_journal_daemon_seal|bool|ternary('yes', 'no') }}
SplitMode={{ systemd_journal_daemon_split_mode }}
SyncIntervalSec={{ systemd_journal_daemon_sync_interval }}
RateLimitIntervalSec={{ systemd_journal_daemon_rate_limit_interval }}
RateLimitBurst={{ systemd_journal_daemon_rate_limit_burst|int }}
SystemMaxUse={{ systemd_journal_daemon_system_max_use }}
SystemKeepFree={{ systemd_journal_daemon_system_keep_free }}
SystemMaxFileSize={{ systemd_journal_daemon_system_max_file_size }}
SystemMaxFiles={{ systemd_journal_daemon_system_max_files|int }}
RuntimeMaxUse={{ systemd_journal_daemon_runtime_max_use }}
RuntimeKeepFree={{ systemd_journal_daemon_runtime_keep_free }}
RuntimeMaxFileSize={{ systemd_journal_daemon_runtime_max_file_size }}
RuntimeMaxFiles={{ systemd_journal_daemon_runtime_max_files|int }}
MaxRetentionSec={{ systemd_journal_daemon_max_retention }}
MaxFileSec={{ systemd_journal_daemon_max_file }}
ForwardToSyslog={{ systemd_journal_daemon_forward_to_syslog|bool|ternary('yes', 'no') }}
ForwardToKMsg={{ systemd_journal_daemon_forward_to_kmsg|bool|ternary('yes', 'no') }}
ForwardToConsole={{ systemd_journal_daemon_forward_to_console|bool|ternary('yes', 'no') }}
ForwardToWall={{ systemd_journal_daemon_forward_to_wall|bool|ternary('yes', 'no') }}
TTYPath={{ systemd_journal_daemon_tty_path }}
MaxLevelStore={{ systemd_journal_daemon_levels[systemd_journal_daemon_max_level_store] }}
MaxLevelSyslog={{ systemd_journal_daemon_levels[systemd_journal_daemon_max_level_syslog] }}
MaxLevelKMsg={{ systemd_journal_daemon_levels[systemd_journal_daemon_max_level_kmsg] }}
MaxLevelConsole={{ systemd_journal_daemon_levels[systemd_journal_daemon_max_level_console] }}
MaxLevelWall={{ systemd_journal_daemon_levels[systemd_journal_daemon_max_level_wall] }}
LineMax={{ systemd_journal_daemon_line_max }}
