global
    daemon
    chroot   /var/lib/haproxy
    user     haproxy
    group    haproxy
    log-tag  haproxy
    log      /dev/log local0
    log      /dev/log local1 notice
    {% if haproxy_max_connections %}maxconn {{ haproxy_max_connections|int }}{% endif %}

    # Default SSL material locations
    ca-base  /etc/ssl/certs
    crt-base /etc/ssl/private

    {% if haproxy_stats_enabled|bool %}
    stats socket /var/lib/haproxy/haproxy.sock mode 0600 level admin
    {% endif %}

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    retries {{ haproxy_retries|int }}
    timeout connect {{ haproxy_timeout_connect|int }}
    timeout client {{ haproxy_timeout_client|int }}
    timeout server {{ haproxy_timeout_server|int }}
    errorfile 400 {{ haproxy_errors_directory }}/400.http
    errorfile 403 {{ haproxy_errors_directory }}/403.http
    errorfile 408 {{ haproxy_errors_directory }}/408.http
    errorfile 500 {{ haproxy_errors_directory }}/500.http
    errorfile 502 {{ haproxy_errors_directory }}/502.http
    errorfile 503 {{ haproxy_errors_directory }}/503.http
    errorfile 504 {{ haproxy_errors_directory }}/504.http

{% if haproxy_stats_enabled|bool %}
listen stats 127.0.0.1:1936
    stats enable
    stats uri /
    stats hide-version
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
{% endif %}

frontend http_frontend
    bind    *:{{ haproxy_http_port|int }}
    default_backend web_backends

{% if haproxy_ssl_cert|length %}
frontend https_frontend
    bind    *:{{ haproxy_https_port|int }} ssl crt {{ haproxy_ssl_cert }} ciphers RC4:HIGH:!aNULL:!MD5
    option  forwardfor
    reqadd  X-Forwarded-Proto:\ https
    default_backend web_backends
{% endif %}

backend web_backends
    balance {{ haproxy_balance }}
    option  httpchk {{ haproxy_check_params }}
    {% for backend in haproxy_backends %}
    server {{ backend }} check inter {{ haproxy_check_delay|int }}
    {% endfor %}
