
# TYPE DB USER ADDRESS METHOD
local postgres postgres trust

{{ postgresql_authentication_rules|join('\n') }}
{% for database in postgresql_databases.values()|sort %}

local {{ database.name }} postgres trust

{% for user in database.users|default([]) %}
{% for client in user.clients %}
host postgres {{ user.name }} {{ client }} md5
host {{ database.name }} {{ user.name }} {{ client }} md5
{% endfor %}
{% endfor %}
{% endfor %}
