/var/log/{{ djsite_instance_name }}/*.log {
       daily
       dateext
       missingok
       rotate {{ djsite_log_rotations_max_count|int }}
       compress
       delaycompress
       nomail
       notifempty
       create 644 {{ djsite_daemon_user }} {{ djsite_daemon_group }}
       sharedscripts
}
