; ========================================================
;  celery beat supervisor configuration for {{ project }}
; ========================================================

[program:{{ site }}-celery-beat]
command={{ production_symlink }}/venv/bin/python manage.py celery beat --loglevel=INFO --statedb={{ production_symlink }}/{{ site }}-celery-beat.db
directory={{ production_symlink }}/server/
user={{ user }}
numprocs=1
stdout_logfile=/var/log/celery/{{ site }}/beat-stdout.log
stderr_logfile=/var/log/celery/{{ site }}/beat-stderr.log
autostart=true
autorestart=true
startsecs=10

; if rabbitmq is supervised, set its priority higher so it starts first
priority=999
