#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port   = {{ mysql_port|int }}
socket = {{ mysql_socket_file }}

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket = {{ mysql_socket_file }}
nice   = 0

[mysqld]
#
# * Basic Settings
#
user            = mysql
pid-file        = {{ mysql_pid_file }}
socket          = {{ mysql_socket_file }}
port            = {{ mysql_port|int }}
basedir         = {{ mysql_base_directory }}
datadir         = {{ mysql_data_directory }}
tmpdir          = {{ mysql_temp_directory }}
lc-messages-dir = {{ mysql_messages_directory }}
skip-external-locking
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address = {{ mysql_bind_address }}
#
# * Fine Tuning
#
innodb_buffer_pool_size        = {{ mysql_innodb_buffer_pool_size }}
innodb_flush_log_at_trx_commit = {{ mysql_innodb_flush_log_at_trx_commit|int }}
{% if mysql_innodb_log_file_size %}
innodb_log_file_size           = {{ mysql_innodb_log_file_size }}
{% endif %}
join_buffer_size               = {{ mysql_join_buffer_size }}
key_buffer_size                = {{ mysql_key_buffer_size }}
max_allowed_packet             = {{ mysql_packet_max_size }}
max_connections                = {{ mysql_max_connections|int }}
max_heap_table_size            = {{ mysql_max_heap_table_size }}
max_tmp_tables                 = {{ mysql_temp_max_tables|int }}
open_files_limit               = {{ mysql_open_files_limit|int }}
table_definition_cache         = {{ mysql_table_definition_cache|int }}
table_open_cache               = {{ mysql_table_open_cache|int }}
thread_cache_size              = {{ mysql_thread_cache_size|int }}
thread_concurrency             = {{ mysql_thread_concurrency|int }}
thread_stack                   = {{ mysql_thread_stack_size }}
tmp_table_size                 = {{ mysql_temp_table_size }}
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover = BACKUP
#
# * Query Cache Configuration
#
query_cache_limit = {{ mysql_query_cache_limit }}
query_cache_size  = {{ mysql_query_cache_size }}
query_cache_type  = {{ mysql_query_cache_types[mysql_query_cache_type] }}
#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
general_log      = {{ mysql_general_log_enabled|bool|ternary(1, 0) }}
general_log_file = {{ mysql_general_log_file }}
#
# Error log - should be very few entries.
#
log_error = {{ mysql_error_log_file }}
#
# Here you can see queries with especially long duration
slow_query_log      = {{ mysql_slow_query_log_enabled|bool|ternary(1, 0) }}
slow_query_log_file = {{ mysql_slow_query_log_file }}
long_query_time     = {{ mysql_slow_query_time|int }}
{{ mysql_query_log_use_indexes|bool|ternary('', 'log-queries-not-using-indexes') }}
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
server-id         = {{ mysql_server_id|int }}
{% if mysql_bin_log_enabled|bool %}
log_bin           = {{ mysql_bin_log_file }}
{% endif %}
log_bin_trust_function_creators = {{ mysql_bin_log_trust_function_creators|bool|ternary(1, 0) }}
expire_logs_days  = {{ mysql_logs_retention_days|int }}
max_binlog_size   = {{ mysql_bin_log_max_size }}
#binlog_do_db     = include_database_name
#binlog_ignore_db = include_database_name
#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqldump]
{{ mysql_dump_quick|bool|ternary('quick', '') }}
{{ mysql_dump_quote_names|bool|ternary('quote-names', '') }}
max_allowed_packet = {{ mysql_dump_packet_max_size }}

[mysql]
{{ mysql_auto_rehash|bool|ternary('', 'no-auto-rehash') }}

[isamchk]
key_buffer = {{ mysql_isamchk_key_buffer_size }}

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
