{#

You must make sure your nginx host(s) are authorized to access the proxy-ed S3 bucket.

If you do not want to use an unmaintained nginx module for S3, there are (at least) two options:

1. VPC Endpoint + Bucket Policy (preferred)

With a VPC Endpoint to S3, you can restrict access to the VPC or the VPC Endpoint itself.

{
    "Version": "2012-10-17",
    "Id": "AuthorizeNginxProxy",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:Get*",
            "Resource": [
                "arn:aws:s3:::your-bucket-name",
                "arn:aws:s3:::your-bucket-name/*"
            ],
            "Condition": {
                "StringEquals": {
                    "aws:sourceVpce": "your-vpc-endpoint-id"
                }
            }
        }
    ]
}

Reference: https://stackoverflow.com/a/44378622/2116569

2. Static Hosting + EIP White-Listing (not recommended)

Otherwise then you can write a policy like:
{
    "Version": "2012-10-17",
    "Id": "AuthorizeNginxProxy",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:Get*",
            "Resource": "arn:aws:s3:::your-bucket-name/*",
            "Condition": {
                "IpAddress": {
                    "aws:SourceIp": [
                        "your-proxy-elastic-ip/32"
                    ]
                }
            }
        }
    ]
}
... And enable static web hosting.

Reference: https://stackoverflow.com/questions/11457635/amazon-s3-files-access-policy-based-on-ip-address.

#}

proxy_http_version 1.1;

proxy_intercept_errors on;

proxy_set_header     Connection '';
proxy_set_header     Authorization '';
proxy_hide_header    Set-Cookie;
proxy_ignore_headers Set-Cookie;

proxy_hide_header x-amz-id-2;
proxy_hide_header x-amz-meta-gid;
proxy_hide_header x-amz-meta-mode;
proxy_hide_header x-amz-meta-mtime;
proxy_hide_header x-amz-meta-uid;
proxy_hide_header x-amz-request-id;
proxy_hide_header x-amz-meta-server-side-encryption;
proxy_hide_header x-amz-server-side-encryption;
proxy_hide_header x-amz-version-id;

proxy_pass {{ bucket_url }};
