/var/log/nginx/*.log /var/log/nginx/*/*.log {
       {{ nginx_log_rtations_frequency }}
       dateext
       missingok
       rotate {{ nginx_log_rotations_max_count|int }}
       compress
       delaycompress
       nomail
       notifempty
       create 644 {{ nginx_daemon_user }} {{ nginx_daemon_group }}
       sharedscripts
       postrotate
              [ -f /run/nginx.pid ] && kill -USR1 `cat /run/nginx.pid`
       endscript
}
