[program:nginx]
command={{ nginx_daemon_path }}
stopsignal=INT
stdout_events_enabled=true
stderr_events_enabled=true
user=root  ; See nginx.conf.j2
numprocs=1
autostart=true
autorestart=true
startsecs=10
