---

- name: Remove Supervisor Debian package
  apt: >
    name=supervisor state=absent
  sudo: yes

- name: Install Supervisor with pip
  pip: >
    name='git+https://github.com/Supervisor/supervisor.git@{{ supervisor_version }}#egg=supervisor'
    executable=pip2 extra_args=-U
  changed_when: "'supervisor {{ supervisor_release }} is already' not in supervisor_upgrade_result.stdout"
  notify: restart supervisor
  register: supervisor_upgrade_result
  sudo: yes
