<uwsgi>
    <plugin>python34</plugin>
    <env>LC_ALL={{ locale }}</env>
    <username>{{ item.value.user }}</username>
    <uid>{{ item.value.user }}</uid>
    <gid>{{ item.value.group }}</gid>
    <chmod-socket>{{ item.value.chmod_socket|default(660) }}</chmod-socket>
    <socket>/run/uwsgi/app/{{ item.value.name }}/socket</socket>
    <stats>/run/uwsgi/app/{{ item.value.name }}/stats</stats>
    <pythonpath>{{ item.value.path }}/server</pythonpath>
    <virtualenv>{{ item.value.path }}/venv</virtualenv>
    <app mountpoint="/">
        <script>{{ item.value.project }}.wsgi:application</script>
    </app>
    <master />
    <enable-threads />
    <single-interpreter />
    <buffer-size>{{ item.value.buffer_size|default(65535)|int }}</buffer-size>
    <processes>{{ item.value.processes|default(10)|int }}</processes>
    <harakiri>{{ item.value.harakiri|default(3600)|int }}</harakiri>
    <reload-mercy>{{ item.value.reload_mercy|default(8)|int }}</reload-mercy>
    <cpu-affinity>{{ item.value.cpu_affinity|default(5)|int }}</cpu-affinity>
    <max-requests>{{ item.value.max_requests|default(2000)|int }}</max-requests>
    <limit-as>{{ item.value.limit_as|default(512)|int }}</limit-as>
    <reload-on-as>{{ item.value.reload_on_as|default(256)|int }}</reload-on-as>
    <reload-on-rss>{{ item.value.reload_on_rss|default(192)|int }}</reload-on-rss>
    <post-buffering />
    <no-orphans />
    <vacuum />
</uwsgi>
