; ====================
;  Aeroo Docs service
; ====================

[program:aeroo-docs]
command={{ aeroo_docs_app_directory }}/aeroo-docs start -c /etc/aeroo-docs.conf --no-daemon
directory=/tmp
numprocs=1
user={{ aeroo_docs_daemon_user }}
group={{ aeroo_docs_daemon_group }}
stdout_logfile=/var/log/supervisor/aeroo-docs-stdout.log
stderr_logfile=/var/log/supervisor/aeroo-docs-stderr.log
autostart=true
autorestart=true
startsecs=5
