# memcached default config file
# 2003 - Jay Bonci <jaybonci@debian.org>
# This configuration file is read by the start-memcached script provided as
# part of the Debian GNU/Linux distribution.

# Run memcached as a daemon. This command is implied, and is not needed for the
# daemon to run. See the README.Debian that comes with this package for more
# information.
-d

# Log memcached's output to /var/log/memcached
logfile {{ memcache_log_file }}
-P {{ memcache_pid_file }}
{{ memcache_verbosity_levels[memcache_verbosity_level] }}

-l {{ memcache_bind_addresses|join(',') }}
-B {{ memcache_binding_protocol }}
-u {{ memcache_daemon_user }}
-p {{ memcache_port|int }}
-U {{ memcache_port|int }}

-b {{ memcache_backlog_queue_limit|int }}
{{ memcache_cas_enabled|bool|ternary('', '-C') }}
-f {{ memcache_chunk_size_growth_factor|float }}
-R {{ memcache_connection_max_processes|int }}
-n {{ memcache_key_value_flags_min_space|int }}
-c {{ memcache_max_connections|int }}
{{ memcache_maximize_core_file_limit|bool|ternary('-r', '') }}
-t {{ memcache_threads|int }}
{{ memcache_sasl_enabled|bool|ternary('-S', '') }}

-m {{ memcache_memory_cap|int }}
{{ memcache_memory_preallocate|bool|ternary('-k', '') }}
{{ memcache_memory_purge|bool|ternary('', '-M') }}
{{ memcache_memory_use_large_pages|bool|ternary('-L', '') }}
