# MariaDB database server configuration file.
#
# You can copy this file to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port   = {{ mariadb_port|int }}
socket = {{ mariadb_socket_file }}

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
nice   = 0
socket = {{ mariadb_socket_file }}

[mysqld]
#
# * Basic Settings
#
user            = mysql
pid-file        = {{ mariadb_pid_file }}
socket          = {{ mariadb_socket_file }}
port            = {{ mariadb_port|int }}
basedir         = {{ mariadb_base_directory }}
datadir         = {{ mariadb_data_directory }}
tmpdir          = {{ mariadb_temp_directory }}
lc_messages_dir = {{ mariadb_messages_directory }}
lc_messages     = en_US
skip-external-locking
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address = {{ mariadb_bind_address }}
#
# * Fine Tuning
#
bulk_insert_buffer_size = {{ mariadb_bulk_insert_buffer_size }}
connect_timeout         = {{ mariadb_connect_timeout|int }}
max_allowed_packet      = {{ mariadb_packet_max_size }}
max_connections         = {{ mariadb_max_connections|int }}
max_heap_table_size     = {{ mariadb_max_heap_table_size }}
sort_buffer_size        = {{ mariadb_sort_buffer_size }}
thread_cache_size       = {{ mariadb_thread_cache_size|int }}
tmp_table_size          = {{ mariadb_temp_table_size }}
wait_timeout            = {{ mariadb_wait_timeout|int }}
#
# * MyISAM
#
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched. On error, make copy and try a repair.
concurrent_insert       = {{ mariadb_concurrent_insert|int }}
key_buffer_size         = {{ mariadb_key_buffer_size }}
myisam_recover_options  = BACKUP
myisam_sort_buffer_size = {{ mariadb_myisam_sort_buffer_size }}
#open-files-limit       = 2000
read_buffer_size        = {{ mariadb_read_buffer_size }}
read_rnd_buffer_size    = {{ mariadb_read_rnd_buffer_size }}
table_open_cache        = {{ mariadb_table_open_cache|int }}
#
# * Query Cache Configuration
#
# Cache only tiny result sets, so we can fit more in the query cache.
query_cache_limit = {{ mariadb_query_cache_limit }}
query_cache_size  = {{ mariadb_query_cache_size }}
query_cache_type  = {{ mariadb_query_cache_types[mariadb_query_cache_type] }}
#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
general_log      = {{ mariadb_general_log_enabled|bool|ternary(1, 0) }}
general_log_file = {{ mariadb_general_log_file }}
#
# Error logging goes to syslog due to /etc/mysql/conf.d/mysqld_safe_syslog.cnf.
#
# we do want to know about network errors and such
log_warnings = 2
#
# Enable the slow query log to see queries with especially long duration
slow_query_log      = {{ mariadb_slow_query_log_enabled|bool|ternary(1, 0) }}
slow_query_log_file = {{ mariadb_slow_query_log_file }}
long_query_time     = {{ mariadb_slow_query_time|int }}
{{ mariadb_query_log_use_indexes|bool|ternary('', 'log-queries-not-using-indexes') }}
#log_slow_rate_limit = 1000
log_slow_verbosity = query_plan
#log_slow_admin_statements
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
server-id         = {{ mariadb_server_id|int }}
{% if mariadb_bin_log_enabled|bool %}
log_bin           = {{ mariadb_bin_log_file }}
log_bin_index     = {{ mariadb_bin_log_index_file }}
{% endif %}
log_bin_trust_function_creators = {{ mariadb_bin_log_trust_function_creators|bool|ternary(1, 0) }}
expire_logs_days  = {{ mariadb_logs_retention_days|int }}
max_binlog_size   = {{ mariadb_bin_log_max_size }}

#report_host              = master1
#auto_increment_increment = 2
#auto_increment_offset    = 1

# not fab for performance, but safer
#sync_binlog = 1

# slaves
#relay_log           = /var/log/mysql/relay-bin
#relay_log_index     = /var/log/mysql/relay-bin.index
#relay_log_info_file = /var/log/mysql/relay-bin.info
#log_slave_updates
#read_only
#
# If applications support it, this stricter sql_mode prevents some
# mistakes like inserting invalid dates etc.
#sql_mode = NO_ENGINE_SUBSTITUTION,TRADITIONAL
#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
default_storage_engine  = InnoDB
# you can't just change log file size, requires special procedure
#innodb_log_file_size   = 50M
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_log_buffer_size  = {{ mariadb_innodb_log_buffer_size }}
innodb_file_per_table   = {{ mariadb_innodb_file_per_table|int }}
innodb_open_files       = {{ mariadb_innodb_open_files|int }}
innodb_io_capacity      = {{ mariadb_innodb_io_capacity|int }}
innodb_flush_method     = O_DIRECT
innodb_lock_wait_timeout = {{ mariadb_innodb_lock_wait_timeout|int }}
#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem
#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

[mysqldump]
{{ mariadb_dump_quick|bool|ternary('quick', '') }}
{{ mariadb_dump_quote_names|bool|ternary('quote-names', '') }}
max_allowed_packet = {{ mariadb_dump_packet_max_size }}

[mysql]
{{ mariadb_auto_rehash|bool|ternary('', 'no-auto-rehash') }}

[isamchk]
key_buffer = {{ mariadb_isamchk_key_buffer_size }}

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
