server {
    listen {{ nginx_port|int }};
    server_name {{ domain }} 127.0.0.1;
    rewrite ^ https://$http_host$request_uri? permanent;
}

server {
    listen {{ nginx_port_ssl|int }};
    server_name {{ domain }} 127.0.0.1;
    proxy_set_header X-Forwarded-For $remote_addr;

    {% include 'templates/site.ssl.conf.j2' %}

    location / {
        access_log /var/log/nginx/{{ item.value.name }}.hub.access.log;
        error_log  /var/log/nginx/{{ item.value.name }}.hub.error.log;

        # FIXME multi-tier architecture
        fastcgi_pass  127.0.0.1:{{ seafile_hub_port|int }};
        fastcgi_read_timeout 36000;
        fastcgi_param CONTENT_LENGTH  $content_length;
        fastcgi_param CONTENT_TYPE    $content_type;
        fastcgi_param HTTP_SCHEME     https;
        fastcgi_param HTTPS           on;
        fastcgi_param PATH_INFO       $fastcgi_script_name;
        fastcgi_param QUERY_STRING    $query_string;
        fastcgi_param REMOTE_ADDR     $remote_addr;
        fastcgi_param REQUEST_METHOD  $request_method;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SERVER_ADDR     $server_addr;
        fastcgi_param SERVER_NAME     $server_name;
        fastcgi_param SERVER_PORT     $server_port;
        fastcgi_param SERVER_PROTOCOL $server_protocol;
    }

    location /seafdav {
        access_log /var/log/nginx/{{ item.value.name }}.dav.access.log;
        error_log  /var/log/nginx/{{ item.value.name }}.dav.error.log;

        client_max_body_size 0;

        # FIXME multi-tier architecture
        fastcgi_pass  127.0.0.1:{{ seafile_hub_port|int }};
        fastcgi_param CONTENT_LENGTH  $content_length;
        fastcgi_param CONTENT_TYPE    $content_type;
        fastcgi_param HTTPS           on;
        fastcgi_param PATH_INFO       $fastcgi_script_name;
        fastcgi_param QUERY_STRING    $query_string;
        fastcgi_param REMOTE_ADDR     $remote_addr;
        fastcgi_param REQUEST_METHOD  $request_method;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SERVER_ADDR     $server_addr;
        fastcgi_param SERVER_NAME     $server_name;
        fastcgi_param SERVER_PORT     $server_port;
        fastcgi_param SERVER_PROTOCOL $server_protocol;
    }

    location /seafhttp {
        rewrite    ^/seafhttp(.*)$ $1 break;

        # FIXME multi-tier architecture
        proxy_pass http://127.0.0.1:{{ seafile_file_port|int }};

        client_max_body_size    0;
        proxy_request_buffering off;
        proxy_connect_timeout   36000;
        proxy_read_timeout      36000;
        proxy_send_timeout      36000;
        send_timeout            36000;
    }

    location /media {
        root {{ seafile_app_directory }}/seafile-server/seahub;
    }
}
