[Unit]
Description=Seafile hub
After=network.target seafile.service

[Service]
WorkingDirectory={{ seafile_app_directory }}/seafile-server-latest
ExecStart={{ seafile_app_directory }}/seafile-server-latest/seahub.sh start-fastcgi {{ seafile_hub_port|int }}
ExecStop={{ seafile_app_directory }}/seafile-server-latest/seahub.sh stop
User={{ seafile_daemon_user }}
Group={{ seafile_daemon_group }}
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
