/var/log/apache2/*.log /var/log/apache2/*/*.log {
       {{ apache_log_rotations_frequency }}
       dateext
       missingok
       rotate {{ apache_log_rotations_max_count|int }}
       compress
       delaycompress
       nomail
       notifempty
       create 644 {{ apache_daemon_user }} {{ apache_daemon_group }}
       sharedscripts
       postrotate
              if /etc/init.d/apache2 status > /dev/null ; then \
                     /etc/init.d/apache2 reload > /dev/null; \
              fi;
       endscript
       prerotate
              if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
                     run-parts /etc/logrotate.d/httpd-prerotate; \
              fi; \
       endscript
}
