# prefork MPM
# StartServers: number of server processes to start
# MinSpareServers: minimum number of server processes which are kept spare
# MaxSpareServers: maximum number of server processes which are kept spare
# MaxRequestWorkers: maximum number of server processes allowed to start
# MaxConnectionsPerChild: maximum number of requests a server process serves

<IfModule mpm_prefork_module>
    StartServers        {{ apache_mpm_prefork_start_servers|int }}
    MinSpareServers     {{ apache_mpm_prefork_min_spare_servers|int }}
    MaxSpareServers     {{ apache_mpm_prefork_max_spare_servers|int }}
    MaxClients          {{ apache_mpm_prefork_max_clients|int }}
    MaxRequestsPerChild {{ apache_mpm_prefork_max_requests_per_child|int }}
    ServerLimit         {{ apache_mpm_prefork_server_limit|int }}
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
