{% if apache_pagespeed_module_enabled|bool %}
# Send all HTML output through the PageSpeed output handler
AddOutputFilterByType MOD_PAGESPEED_OUTPUT_FILTER text/html

ModPagespeed On
ModPagespeedFileCachePath "{{ apache_pagespeed_module_cache_directory }}"
ModPagespeedInheritVHostConfig On
ModPagespeedRewriteLevel PassThrough
ModPagespeedXHeaderValue "-"
{% endif %}
