Listen {{ ampache_port|int }}

<VirtualHost *:{{ ampache_port|int }}>
    ServerName {{ domain }}
    DocumentRoot {{ ampache_web_directory }}

    SSLEngine {{ ampache_ssl|bool|ternary('on', 'off') }}
    {% if ampache_ssl|bool %}
    SSLCertificateFile    {{ ssl_cert_crt_filename }}
    SSLCertificateKeyFile {{ ssl_cert_key_filename }}
    {% endif %}

    CustomLog ${APACHE_LOG_DIR}/access.log combined
    ErrorLog  ${APACHE_LOG_DIR}/error.log

    Alias {{ ampache_web_path }} {{ ampache_web_directory }}

    <Directory {{ ampache_web_directory }}>
        Options FollowSymLinks
        AllowOverride All
    </Directory>
</VirtualHost>
